{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/essential",
        "prettier"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
        "eqeqeq": ["warn", "smart"],
        "no-console": "warn",
        "no-unused-vars": "warn"
    }
}
