$blue1: #134359;
$blue2: #072e40;
$blue3: #1c5a7d;
$teal1: #c5e0e0;
$teal2: #158285;
$teal3: #50a1a3;
$green1: #2bb574;
$green2: #60c797;
$orange1: #feedc4;
$orange2: #fcb614;
$orange3: #fdc84f;
$orange4: #fa961e;
$orange5: #f9af55;
$orange6: #f7692a;
$gray1: #4e555e;
$gray2: #c4d0d5;
$gray3: #f2f3f3;
$white: #fff;
$black: #000;

$primary: $blue3;
$secondary: $blue2;
