.layout-dashboard {
    display: flex;
    min-height: 100vh;
    letter-spacing: 0;
    background-color: white;

    .q-page {
        flex: 1;
    }

    // TODO Check other css classes for RTL option
    [dir='rtl'] & {
        .q-page-sidebar {
            left: auto;
            right: 0;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 300px;
}
