.q-user {
    @include rtl {
        &__desc {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__avatar {
            margin-left: 0;
            margin-right: 5px;
        }

        .icon-options {
            left: 5px;
            right: initial;
        }

        .dropdown-menu {
            &::before,
            &::after {
                left: 45px;
                right: initial;
            }
        }
    }
}
